$yellowtxt : rgb(250, 250, 18);
$darkred: darkred;

.login-section {
    padding-top: 40px;
    min-height: 90vh;
    .form-container {
        margin-top: 45px;
        padding: 1em;
        width: 450px;
        max-width: 450px;
        border-radius: 30px;
        -webkit-box-shadow: 9px 10px 93px 6px rgb(58 84 178 / 70%);
        -moz-box-shadow: 9px 10px 93px 6px rgb(58 84 178 / 70%);
        box-shadow: 9px 10px 93px 6px rgb(58 84 178 / 70%);

        label {
            display: block;
            font-size: 1.2em;
            color: $yellowtxt;
        }

        .control-group {
            margin-bottom: 1.2em;
            position: relative;

            .invalid-input-container {
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                padding: 15px;
                margin-top: -21px;
                border-radius: 24px;

                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -50px;
                    width: 0;
                    height: 0;
                    border-top: solid 12px #e15915;
                    border-left: solid 12px transparent;
                    border-right: solid 12px transparent;
                }
            }
        }

        input {
            height: 2.4em;
            width: 100%;
            padding-left: 15px;
            color: $darkred;
            
        }
    }

    .otp-section {
        input.otp-field {
            text-align: center;
            font-weight: bolder;
        }
    }


}

.email-input {
    height: 2.4em;
    padding-left: 15px;
    color: $darkred;
}